<div class="form-title bg-primary text-white py-3">
  <h2>New job</h2>
</div>
<br>
<%= render "form", job: @movie %>

<style>
    .form-title {
        color: #fff;
        padding: 1rem;
    }

    .form-title h2 {
        margin: 0;
    }

</style>
